@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");

:root {
  --nav-background-color: #0d665c;
  --container-bg-color: #0d665c;
  --overlay-color: rgba(24, 39, 51, 0.85);
  --black-light-opac: rgba(0, 0, 0, 0.5);
  --black-opac: rgba(0, 0, 0, 0.75);

  --white-color: #ffffff;
  --black-color: #000000;

  --menu-speed: 0.3s;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", "Fira Sans", sans-serif;
}

section {
  margin: 1% 3% 3%;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

footer {
  width: 90%;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
/** Navigation Section */
.navbar {
  background-color: var(--nav-background-color);
  border-bottom: 0.1em solid rgba(3, 84, 75, 0.9);
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar a {
  color: rgb(255, 255, 255);
  margin: 0.5em;
  padding: 0.5em 1em;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
  color: var(--nav-background-color);
}

.navbar a.active {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
  color: var(--nav-background-color);
  position: relative;
}

.navbar a.active::after {
  content: "";
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: var(--white-color);
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
}

/** Main Section */
.container {
  background-color: var(--container-bg-color);
  /* background-image: linear-gradient(
    to left,
    rgba(207, 88, 29, 0.7),
    rgba(207, 88, 29, 1)
  ); */
}

.profileSection {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

.profileSection div {
  width: 50%;
}

.profileSection .profile {
  padding: 2em 0;
}

.profileSection .profile img {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 20rem;
  height: 20rem;
  filter: drop-shadow(0px 5px 5px var(--black-light-opac));
  animation: img-drop 2s ease-out;
}

.profileSection .quote {
  color: var(--white-color);
  font: italic bold 50px Sacramento, cursive;
  padding-top: 2.5rem;
}

.profileSection .quote h1 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
}

.profileSection .quote h1 > span {
  color: #dae063;
  font-family: "Roboto", "Fira Sans", sans-serif;
  font-style: normal;
  font-size: 3.2rem;
  padding-left: 0.35rem;
}

.profileSection .quote h2 {
  text-align: justify;
  font-family: "Caveat", cursive;
  font-size: 2rem;
  padding: 2rem 0;
}

/* top button style */
.topBtn {
  position: fixed;
  bottom: 10%;
  right: 0;
  background-color: var(--black-light-opac);
  color: var(--white-color);
  z-index: 99;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.25rem;
  margin-right: 0.75rem;
}

.topBtn:hover {
  background-color: var(--black-opac);
  box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-out;
}

.topBtn > span {
  display: block;
  font-size: 0.5rem;
  padding: 0 0.25rem 0.35rem;
}

/* Section */
section h1 {
  font: italic bold 2.5em Sacramento, cursive;
  text-decoration: underline dotted;
}

section h2 {
  font-weight: lighter;
  padding: 0.5rem 0;
}

section h2 + span {
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 0;
}

section h4 {
  font-weight: normal;
  font-family: "Caveat", cursive;
  font-size: 1.25rem;
  padding: 0.25rem 0;
}

section ul {
  padding-left: 2rem;
}

section ul > li {
  font-size: 0.9rem;
  text-align: justify;
}

section p {
  text-align: justify;
  text-indent: 5%;
}

/* Tech Stack Section */
.card-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}

.card {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 18rem;
  position: relative;
}

.card:hover {
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3);
}

.card > h3 {
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: monospace;
  text-align: center;
  padding: 0.5rem 1rem;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  padding: 1rem 0.5rem;
  overflow: hidden;
}

.img-container > div > .tech-img {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem 0.25rem 0.25rem;
  position: relative;
  cursor: pointer;
}

.img-container > div > span {
  position: relative;
  font-size: 0.75rem;
  background: var(--black-color);
  box-shadow: 0.1rem 0.1rem 0.25rem var(--black-light-opac);
  color: var(--white-color);
  text-align: center;
  margin: 0 auto;
  border-radius: 0.75rem;
  padding: 0.25rem 0.5rem;
  width: 4rem;
  opacity: 0;
  display: none;
  transition: opacity 0.6s;
}

.img-container > div > span:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  background: inherit;
  z-index: -1;
  right: 40%;
  transform: translateX(-50%) rotate(45deg);
}

.img-container > div:hover > span {
  display: block;
  opacity: 1;
}

/* About Me Section */
.aboutMe-container > p {
  font-family: monospace;
  font-size: 1.3rem;
  padding: 0.5rem 0;
  padding-right: 0.5rem;
}

/* Contact Section */
.contact-container {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  margin: 0 0.75rem;
  padding: 0.5rem 1rem;
}

.contact a > img {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  vertical-align: middle;
}

/* Form Submission */
.form-container {
  margin-top: 1rem;
}

.form-container > .form-heading {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0 0 0.5rem 2rem;
  text-decoration: underline;
}

.form-container > .form {
  padding: 0 0 1rem 2rem;
}

.form-container > .form .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: var(--black-color);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: normal;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #007268);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* If browser window is 768px or higher */
@media only screen and (min-width: 768px) {
  main {
    margin-bottom: 1rem;
    padding-top: 3rem;
  }

  section h2 {
    display: inline-block;
  }

  section h2 + span {
    padding-left: 15%;
  }

  .navbar {
    position: fixed;
    z-index: 1;
  }

  .menu-wrap {
    display: none;
  }

  .profileSection .quote {
    padding-right: 5%;
  }

  .card {
    width: 33.3%;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
  }

  .contact-container {
    justify-content: flex-start;
  }
}

/* If browser window is 768px or smaller */
@media only screen and (max-width: 768px) {
  main {
    padding-top: 3rem;
  }

  section {
    margin: 3% 5%;
  }

  section p {
    padding-top: 0.5rem;
  }

  .novisible {
    visibility: hidden;
  }

  .navbar {
    display: none;
  }

  .menu-wrap {
    background-color: var(--nav-background-color);
    border-bottom: 0.1em solid rgba(3, 84, 75, 0.9);
    width: 100%;
    height: 3rem;
    position: fixed;
    z-index: 1;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 4rem;
    height: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
  }

  /* Top & Bottom Lines */
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
  }

  /* Move Line down */
  .menu-wrap .hamburger > div:after {
    top: 10px;
  }

  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* Turn Lines into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-wrap .toggler:checked ~ .topBtn {
    visibility: hidden;
  }

  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div {
    background: var(--overlay-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  .container {
    background-color: var(--container-bg-color);
  }

  .profileSection {
    flex-direction: column;
  }

  .profileSection {
    padding: 2em 2em;
  }

  .profileSection div {
    width: 100%;
  }

  .profileSection .profile {
    padding: 0 0;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.5rem;
    margin: 0.25rem 0.25rem;
  }

  .card-2 {
    height: 70vh;
  }

  .img-container {
    justify-content: space-around;
  }

  .contact-container {
    flex-direction: row;
  }
}

@keyframes img-drop {
  from {
    opacity: 0.3;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
